<!-- <header>
  <nav >
    <a [routerLink]="['/']"> Layout Admin</a>
  </nav>
</header>

<section>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</section>

<footer>
  <a href="#">Footer Admin</a>
</footer> -->

<body>


  <router-outlet></router-outlet>
  
  </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../../../assets/dist/js/bootstrap.bundle.min.js"></script>