<body>
  <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="form-signin">
<div class="text-center mb-4">
  <!-- <img class="mb-4" src="../assets/brand/user-circle-solid.svg" alt="" width="72" height="72"> -->
  <i class="fa fa-user bg-blue-default" style="font-size: 72px;"></i>
  
  <h1 class="h3 mb-3 font-weight-normal tx-blue-default">Cadastro</h1>
  <p class="tx-blue-default">Já tem cadastro? Faça o login <a [routerLink]="['/login']">aqui</a>.</p>
</div>

<div class="form-label-group">
  <input type="text" formControlName="name" id="name" aria-describedby="name" class="form-control custom-border" placeholder="Nome" required autofocus>
  <label for="name">Nome</label>
</div>

<div class="form-label-group">
  <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="email" class="form-control custom-border" placeholder="E-mail" required autofocus>
  <label for="email">E-mail</label>
</div>

<div class="form-label-group">
  <input type="password" formControlName="password" id="password" class="form-control custom-border" placeholder="Senha" required>
  <label for="password">Senha</label>
</div>

<div class="form-group" *ngIf="visibleSelectCompany">
  <label for="company">Empresa</label>
  <select formControlName="company" class="form-control" id="company" name="company" >
    <option *ngFor="let company of companies"  value="{{company.id}}">{{company.nome}}</option>
  </select>
</div>

<div class="checkbox mb-3">
  <label>
    <!-- <input type="checkbox" value="remember-me"> Remember me -->
  </label>
</div>
<button class="btn btn-lg btn-primary custom-btn btn-block" type="submit">Cadastrar</button>
<p class="mt-5 mb-3 text-muted text-center"> Teste de Personalidade</p>
</form>
</body>