

  <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <a class="navbar-brand tx-blue-default" href="#">Olá, {{user.name}}!</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']"> Admin</a>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" (click)="logout()"> Sair</button>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main role="main">
    <div class="container marketing">
      <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores unde impedit porro, eligendi soluta adipisci veniam quas alias incidunt id ad quae eum optio fugit aliquid laboriosam expedita, perspiciatis hic?</div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde iste, laborum consectetur consequuntur optio officiis, quae aut iusto dolorem blanditiis numquam dolore. Odit maxime corporis natus obcaecati ab iure debitis.</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa delectus cupiditate, quasi a, veniam beatae ullam vero odio veritatis commodi maxime, numquam enim odit ipsum neque repellendus temporibus distinctio eius.</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam totam dolore cumque reiciendis labore, ea, placeat, ad dignissimos deleniti atque repellat quaerat quasi. Culpa voluptatibus cupiditate maxime, rem error sed.</div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 text-right">
          <form class="form-inline">
            <div class="form-group mb-2">
              <label for="staticEmail2">Empresa: </label>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <input type="text" class="form-control" id="staticEmail2" placeholder="Loja ABC">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
          </form>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 text-center">      
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Empresa</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">E</th>
                <th scope="col">C</th>
                <th scope="col">P</th>
                <th scope="col">A</th>      
                <th scope="col">R</th>               
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Loja ABC</th>
                  <td class="text-left">Amanda Batista</td>
                <td class="text-left">amanda@email.com</td>
                <td>25%</td>
                <td>25%</td>
                <td>40%</td>
                <td>10%</td>
                <td><i class="fa fa-check-circle  text-success"></i></td>
              </tr>
              <tr>
                <th scope="row">Loja ABC</th>
                <td class="text-left">Carlos Damião</td>
                <td class="text-left">carlos.d123@email.com</td>
                <td>25%</td>
                <td>25%</td>
                <td>25%</td>
                <td>25%</td>
                <td><i class="fa fa-check-circle  text-success"></i></td>
              </tr>
              <tr>
                <th scope="row">Loja ABC</th>
                <td class="text-left">Eduardo Fontes</td>
                <td class="text-left">duduf@.com</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><i class="fa fa-check-circle  text-secondary"></i></td>
              </tr>
              <tr>
                <th scope="row">Loja ABC</th>
                <td class="text-left">Gustavo Henrique</td>
                <td class="text-left">gustavohrn@email.com</td>
                <td>25%</td>
                <td>50%</td>
                <td>0%</td>
                <td>25%</td>
                <td><i class="fa fa-check-circle  text-success"></i></td>
              </tr>
              <tr>
                <th scope="row">Loja ABC</th>
                <td class="text-left">Igor Silva</td>
                <td class="text-left">silva_igor@email.com</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><i class="fa fa-check-circle  text-secondary"></i></td>
              </tr>
              <tr>
                <th scope="row">Loja ABC</th>
                <td class="text-left">João Augusto</td>
                <td class="text-left">ja_test@email.com</td>
                <td>10%</td>
                <td>40%</td>
                <td>20%</td>
                <td>30%</td>
                <td><i class="fa fa-check-circle  text-success"></i></td>
              </tr>
              <tr>
                <th scope="row">Loja ABC</th>
                <td class="text-left">Kellen</td>
                <td class="text-left">kelzinha22@email.com</td>
                <td>0%</td>
                <td>25%</td>
                <td>50%</td>
                <td>25%</td>
                <td><i class="fa fa-check-circle  text-success"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
    </div>
    <!-- FOOTER -->
    <footer class="container">
      <!-- <p class="tx-blue-default">Proprietário do site <a href="#">Pablo Horta</a>. Desenvolvido por <a href="https://www.linkedin.com/in/silvia-gomes-b14187a7/">Silvia Gomes</a>.</p> -->
    </footer>
    <script>
      $('#myTab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
      $('#myTab a[href="#profile"]').tab('show') // Select tab by name
$('#myTab li:first-child a').tab('show') // Select first tab
$('#myTab li:last-child a').tab('show') // Select last tab
$('#myTab li:nth-child(3) a').tab('show') // Select third tab
    </script>
  </main>
