

  <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <a class="navbar-brand tx-blue-default" href="#">Olá, {{user.name}}!</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']"> Admin</a>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" (click)="logout()"> Sair</button>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
  <main role="main">
    <div class="container">
      <div class="row mt-5">
        
        <div class="col-12">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-link active" id="nav-company-tab" data-toggle="tab" href="#nav-company" role="tab" aria-controls="nav-company" aria-selected="true">Empresas</a>
              <a class="nav-link" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="false">Usuários</a>
              <a class="nav-link" id="nav-response-tab" data-toggle="tab" href="#nav-response" role="tab" aria-controls="nav-response" aria-selected="false">Respostas</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-company" role="tabpanel" aria-labelledby="nav-company-tab">
             <div class="row">
               <form role="form" [formGroup]="form" (ngSubmit)="saveOrUpdate()" class="col-lg-6">                 
               <h2>Empresa</h2>
                <div class="form-group">
                  <label for="nome">Nova</label>
                  <input type="text" class="form-control" id="nome" aria-describedby="nome" formControlName="nome" >
                </div>
                <div class="form-group">
                  <label for="country">Estado</label>
                  <select formControlName="country"  [(ngModel)]="currentCountry" class="form-control" id="country" name="country" >
                    <option *ngFor="let country of countries"  value="{{country.id}}">{{country.nome}}</option>
                  </select>
                </div>
                <div class="form-group">              
                  <label for="city">Cidade</label>
                  <select class="form-control" id="city" name="city" formControlName="city" >
                    <option *ngFor="let city of cities"  value="{{city.id}}">{{city.nome}}</option>
                  </select>
                </div>
                <input type="hidden" name="id" formControlName="id">
                <button type="submit" class="btn btn-primary mr-1" *ngIf="visibleButtonSave">Criar</button>
                <button type="submit" class="btn btn-primary mr-1" *ngIf="visibleButtonUpdate">Alterar</button>
                <button type="reset" class="btn btn-secondary">Limmpar</button> 
              </form>
              <div class="col-lg-6">
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Empresa</th>
                      <th scope="col">Cidade</th>
                      <th scope="col">Estado</th>
                      <th scope="col"></th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let company of companies">
                      <td>{{company.id}}</td>
                      <td>{{company.nome}}</td>
                      <td>{{company.city}}</td>
                      <td>{{company.country}}</td>
                      <td>
                        <a href="#" class="btn btn-danger mr-1" (click)="delete(company.id)"><i class="fa fa-trash"></i></a>
                        <a href="#" class="btn btn-secondary" (click)="update(company.id)"><i class="fa fa-edit"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
             </div>
            </div>
            <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
              <h2>Usuários</h2>
              <div class="row mt-3">
                <div class="col-lg-12 text-center">      
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Cód.:</th>
                        <th scope="col">Empresa</th> 
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Perfil</th>             
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of userList">
                        <td class="text-left">{{user.id}}</td>
                        <td class="text-left">{{user.company}}</td>
                        <td class="text-left">{{user.name}}</td>
                        <td class="text-left">{{user.email}}</td>
                        <td *ngIf="user.roles[0].name === 'admin'" class="text-left">Administrador</td>
                        <td *ngIf="user.roles[0].name === 'user'" class="text-left">Usuário</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-response" role="tabpanel" aria-labelledby="nav-response-tab">
              <h2>Respostas</h2>
              <div class="row mt-3">
                <div class="col-lg-12 text-center">      
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Empresa</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">E</th>
                        <th scope="col">C</th>
                        <th scope="col">P</th>
                        <th scope="col">A</th>      
                        <th scope="col"></th>               
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let result of listResult">
                        <td class="text-left">{{result.company}}</td>
                        <th scope="row">{{result.name}}</th>
                        <td class="text-left">{{result.email}}</td>
                        <td>{{result.pointsAreaExecutor1}} %</td>
                        <td>{{result.pointsAreaComunicador2}} %</td>
                        <td>{{result.pointsAreaPlanejador3}} %</td>
                        <td>{{result.pointsAreaAnalista4}} %</td>

                        <td><i class="fa fa-check-circle  text-success"></i></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> 
         
      

      </div>
    </div>
    <!-- FOOTER -->
    <footer class="container">
      <!-- <p class="tx-blue-default">Proprietário do site <a href="#">Pablo Horta</a>. Desenvolvido por <a href="https://www.linkedin.com/in/silvia-gomes-b14187a7/">Silvia Gomes</a>.</p> -->
    </footer>
  </main>
