<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-brand tx-blue-default" href="#">Olá, {{user.name}}!</a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link btn btn-outline-secondary" (click)="logout()"> Sair</button>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main">
  <div class="container marketing">
    <div class="row mt-3">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 text-center">      
         <img src="../../../assets/img/pergunta-transp-3.1.png" class="bd-placeholder-img " alt="Imagens de um homem deitado com dúvidas"  width="70%">
        <h4 *ngIf="!arrayAnswer[23].answered" >Qual característica lhe define melhor ?</h4>
        <div *ngIf="arrayAnswer[23].answered && !visibleResult"  class="">
          <h4>Teste finalizado!</h4>
          <button type="button" class="btn btn-secondary mr-1" (click)="toFinish(1)">Ver resultado</button>
          <!-- <button type="button" class="btn btn-secondary" (click)="toFinish(2)">Não</button> -->
        </div>
        <div *ngIf="visibleResult">
          <h2>Resultado</h2>
          <div class="row">
            <div class="col-6 text-right"><button type="button" class="btn btn-info">{{executor.nome}} <span class="badge badge-light">{{executor.pontos}} %</span></button></div>
            <div class="col-6 text-left"><button type="button" class="btn btn-secondary">{{comunicador.nome}} <span class="badge badge-light">{{comunicador.pontos}} %</span></button></div>
            <div class="col-6 text-right  mt-1"><button type="button" class="btn btn-success">{{planejador.nome}} <span class="badge badge-light">{{planejador.pontos}} %</span></button></div>
            <div class="col-6 text-left mt-1"><button type="button" class="btn btn-warning">{{analista.nome}} <span class="badge badge-light">{{analista.pontos}} %</span></button></div>
          </div>
          <button type="button" (click)="logout()">Sair</button>
        </div>
        <div  *ngIf="message != ''"class="row justify-content-center">
         <div class="col-8 alert alert-warning"  role="alert">
           {{message}}
         </div>
        </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>
  <div *ngIf="!arrayAnswer[23].answered" id="myCarousel" class="carousel slide mb-0" data-interval="false" touch="true">
    <div class="carousel-inner"> 
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption">
            <div class="row btn-group btn-group-toggle  ml-sm-5" data-toggle="buttons">
              <label for="{{ option.id }}" *ngFor="let option of optionShow" (click)="respond(option)" class="col-12 col-sm-5 btn btn-lg btn-primary custom-btn m-1 rounded">
                <input type="radio" name="{{ option.id }}" id="{{ option.id }}">{{ option.nome }}
              </label>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <a (click)="prev()" *ngIf="orderOption > 1" class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <i class="fa fa-chevron-circle-left  bg-blue-default"  style="font-size: 2.5em;"></i>
    </a>
    <a (click)="next()" class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">       
      <i class="fa fa-chevron-circle-right  bg-blue-default"  style="font-size: 2.5em;"></i>
    </a>
  </div>
  <!-- PAGEABLE -->
  <div *ngIf="!arrayAnswer[23].answered" class="row  m-0 p-0">
    <div *ngFor="let answer of arrayAnswer" class="col" style="max-width: 63.3px;">
      <button *ngIf="answer.answered" type="button" class="btn btn-secondary rounded-circle">{{answer.orderTask}}</button>
      <button *ngIf="!answer.answered"type="button" class="btn btn-outline-secondary rounded-circle">{{answer.orderTask}}</button>
    </div>
  </div>
  <!-- <div *ngIf="arrayAnswer[23].answered"  class="carousel slide">
    <h2>Teste Finalizado!</h2>
  </div> -->
  <!-- FOOTER -->
  <footer class="container text-center">
    <p class="tx-blue-default">Proprietário do site <a href="#">Pablo Horta</a>. Desenvolvido por <a href="https://www.linkedin.com/in/silvia-gomes-b14187a7/">Silvia Gomes</a>.</p>
  </footer>
</main>